
.closebtn_baidu1{position:absolute; z-index:666666; cursor:pointer; margin-top:-880px; margin-left:1130px; *+margin-left:1290px; _margin-left:1284px; _margin-top:-882px;}
#baidu_ditu1{position:absolute; height:376px; width:676px; background:white; margin-top:-380px; margin-left:300px; display:none; z-index:1000; *+margin-left:50px;}
.dianji_ditu1{color:#9fb9dc;}
#allmap{height:376px; width:676px;}
