*{ margin:0;padding:0;}
img{ border:none;}
.content_sort_conputer{  margin-right:70px;}
.content_sort_conputer a{ color:#195d89; }
.content_sort_conputer_1 a{color:#195d89; }
.content_sort_conputer_2{  margin-left:-14px;}
.content_sort_conputer_2 a{ color:#195d89; }
.cars_images_11{ width:99px; height:74px; float:left; margin-right:23px;}
.cars_description_1{ margin-bottom:5px;}
.cars_description_1 a{ color:#015e9a; }
.cars_description_2{ width:349px; height:25px; line-height:25px; margin-bottom:0px; padding-left:27px; }
.spacific_price{ width:80px; margin-left:28px;}.content_detail_right_p1 a{color:#005d96;}

